textarea {
  display: block;
}

#content {
  padding: 1em;
}

td {
  padding: 0.25em;
  border: 1px solid #000;
  font-size: 2em;
}

td.correct {
  background-color: #8f8;
}

td.incorrect {
  background-color: #f88;
}

table {
  border-collapse: collapse;
}

body * {
  font-family: Consolas;
}